<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>회원 구매 내역</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${member.name} + '님의 구매 내역'"></h1>
    <table class="table">
        <thead>
        <tr>
            <td>상품명</td>
            <td>구매일</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.productName}"></td>
            <td th:text="${order.orderDate}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/members?page=0}">목록으로 돌아가기</a>
</div>
</body>
</html>